*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(../WeightPics/4.jpg);
    background-attachment: fixed;
    background-size: 100%;
    color: white;
    font-family: 'Lato' , sans-serif;
}
.container{
    display: block;
    margin: auto;
    width: 100%;
}

.container .text
{
    display: block;
    text-align: center;
    width: 90%;
    font-size: 56px;
    font-weight: bolder;
}
.container .text p{
    font-style: italic;
    margin-top: 4px;
}
.facility{
    margin-top: 18.1%;
    width: 100%;
    background-color: #1E2123;
    height: 1750px;
}
.facility .heading {
    display: block;
    text-align: center;
    font-size: 23px;
    padding-top: 4%;
    padding-bottom: 2%;
    background-color: #25292B;
}
.row1{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}
.box{
    width: 45%;
    height: 420px;
    padding: 32px 16px;
    background: #fff;
    position: relative;
    display: inline-block;
    box-shadow: 0px 3px 4px; 
    transition: 0.5s;
    margin-left: 30px ;
    margin-top: 5%;
}
.box:hover{
    transform: translateY(-20px);
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
}
.box .info{
    height: 46px;
    position: absolute;
    color: black;
    margin-top: 50%;
    margin-right: 10%;
    margin-left: -2%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #919fa5;
    padding: 10px 2%;
    border-radius: 5px;
}
.box .cart{
    height: 46px;
    width: auto;
    position: absolute;
    color: black;
    margin-top: 50%;
    margin-left: 76%;
    display: inline-block;
    box-sizing: border-box;
    background-color: #919fa5;
    padding: 15px 2%;
    cursor: pointer;
    border-radius: 5px;
}
.box .cart:hover {
    transform: scale(1.1);
    margin-top: 49.5%;
    margin-left: 75%;
    transition: 1s;
} 
.box .cart a {
    text-decoration: none;
    color: black;
}
.quote{
    width: 50%;
    height: 420px;
    position: relative;
}
.boxq{
    width: 100%;
    height: 720px;
    background: #fff;
    position: relative;
    display: inline-block;
    box-shadow: 0px 3px 4px; 
    transition: 0.5s;
    margin-left: 0px ;
}
.boxq img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
}
.boxq .info{
    font-size: 36px;
    font-style: italic;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
    position: absolute;
    color: white;
    margin-top: 20%;
    text-align: center;
    padding: 10px 10%;
}